.shadow {
  box-shadow: 1px 1px 12 3px rgb(1, 153, 176), -1px -1px 12 3px rgb(1, 89, 92);
  border-radius: 10px 10px 10px 10px;
}
.border {
  border: 1px solid hsl(0, 0%, 40%);
  border-radius: 10px 10px 10px 10px;
}
img {
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  z-index: 0;
}
img::before,
img::after {
  content: "";
  display: block;
  inset: 20px;
  z-index: -1;
  position: relative;
  background: blue;
}
body {
}
p {
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
article {
}
section {
}
div {
}
span {
}
small {
}
